<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <i class="fa fa-home"></i>
            <span>MEAN Test</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active" ui-sref="inbox">
                <a style="cursor: pointer;">Inbox</a>
            </li>
            <li ui-sref-active="active" ui-sref="trash">
                <a style="cursor: pointer;">Trash</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="loader" ng-show="{{ isNavigating }}">
                <i class="fa fa-spinner fa-spin fa-2x"></i> Loading...
            </li>
        </ul>
    </div>
</nav>
